header{
      position: fixed; 
      width: 100%; 
      top: 0; 
      left: 0;
      background-color:#eee;
      padding:10px;
    }
    #header-img{
      height:25px;
      width:150px;
    }
    @media only screen and (min-width: 500px) {
      div#image{
        width:400px;
        height:100px;
      }
    }
    
    /* .nav-bar{
      margin-top:5000px;
    } */
    .body{
      margin-top:150px;
    }
    li{
      list-style:none;
    }
    a{
      text-decoration:none;
    }
    /* #btn1{
      background-color:yellow;
      border:none;
      height:30px;
      width:130px;
    } */
    .container{
      display:flex;
      flex-direction:column;
    }
    #submit{
      margin-top:20px;
      height:30px;
      background-color:gold;
      border:none;
      border-radius:5px;
      font-weight:800;
    }
    
    #btn{
      background-color:gold;
      height:40px;
      width:100px;
      border:none;
      border-radius:5px;
      margin:0px 70px 20px 30px;
    }
    h4{
      text-align:center;
    }
    #price{
      text-align:center;
    }
    #pricing div{
      border:1px solid black;
      border-radius:5px;
      margin:10px;
    }
    footer{
      background-color:#eee;
    }